.container {
  padding: 16px;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

h1 {
  text-align: center;
  color: #007bff;
  font-size: 24px; /* Cím kisebb betűmérete */
}

h2 {
  color: #0056b3;
  margin-top: 16px;
  font-size: 18px; /* Alcím kisebb betűmérete */
}

ol {
  margin-left: 20px;
  list-style-type: decimal;
}

li {
  font-size: 14px; /* Lista kisebb betűmérete */
  color: #333;
  margin-bottom: 10px;
}
