<header class="header">
  <h1>{{ title }}</h1>
</header>

<nav class="tabs">
  <button (click)="onTabChange(0)" [class.active]="currentComponent === 'first'">Első Mérföldkő</button>
  <button (click)="onTabChange(1)" [class.active]="currentComponent === 'second'">Második Mérföldkő</button>
  <button (click)="onTabChange(2)" [class.active]="currentComponent === 'third'">Harmadik Mérföldkő</button>
</nav>

<div class="content">
  <ng-container *ngIf="currentComponent === 'first'">
    <app-first-milestone></app-first-milestone>
  </ng-container>
  <ng-container *ngIf="currentComponent === 'second'">
    <app-second-milestone></app-second-milestone>
  </ng-container>
  <ng-container *ngIf="currentComponent === 'third'">
    <app-third-milestone></app-third-milestone>
  </ng-container>
</div>

<footer class="footer">
  <span><b>Készítette:</b> Aradi Ferenc Zoltán, Szabó Norbert, Zsurzsa Dóra</span>
</footer>
